alabaster==0.7.10
argh==0.26.2
Babel==2.5.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.1.1
idna==2.6
imagesize==0.7.1
ipython==5.3.0
ipython-genutils==0.2.0
Jinja2==2.9.6
katcp==0.6.2
linecache2==1.0.0
livereload==2.5.1
MarkupSafe==1.0
matplotlib==2.0.2
mock==2.0.0
numpy==1.13.3
odict==1.6.2
pathlib2==2.3.0
pathtools==0.1.2
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
ply==3.10
port-for==0.3.1
prompt-toolkit==1.0.15
ProxyTypes==0.9
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.4
scandir==1.5
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.4
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.0.1
subprocess32==3.2.7
tornado==4.5.2
traceback2==1.4.0
traitlets==4.3.2
typing==3.6.2
unittest2==1.1.0
urllib3==1.22
watchdog==0.8.3
wcwidth==0.1.7
-e git://github.com/casper-astro/tftpy.git#egg=tftpy-0.6.3_fork-py2.7.egg
